[Desktop Entry]
Name=Optical Media Archive Ripper
Comment=A Basic Optical Media Ripper
Exec=/home/omar/ripper.py
Icon=/home/omar/cd.png
Terminal=false
Type=Application
Categories=Utility;
